
  <div>
    <h1>New User, <%= @user.name %></h1>
    <p>
       User <%= @user.name %>
       has registered
      <br>
    </p> 
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
  </div>
